@import '../../assets/scss/_mixin.scss';

.cell {
    width: 100%;
    height: 100%;
    position: relative;

    &__plan {
        position: absolute;
        top: 10%;
        bottom: 10%;
        left: 0;
        right: 0;
        background-color: var(--green-color);
        border-radius: 5px;
        cursor: pointer;

        &:hover + .cell__tooltip {
            display: block;
        }
    }

    &__fact {
        position: absolute;
        top: 10%;
        bottom: 10%;
        left: 0;
        right: 0;
        background-color: transparent;
        background-image: repeating-linear-gradient(-45deg, transparent, transparent 0.65rem, var(--pink-color) 0.65rem, var(--pink-color) 1rem);
        background-size: 200% 200%;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            animation: gradient 10s linear infinite;
        }

        &:hover + .cell__tooltip {
            display: block;
        }
    }

    &__tooltip {
        display: none;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -120%);
        background-color: #fff;
        padding: 1rem 1.5rem;
        border-radius: 5px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
        max-width: 300px;
        min-width: 250px;
        @include font(16, 400, 22);
        z-index: 10;

        p {
            margin-bottom: 1rem;
        }

        h3 {
            margin-bottom: 1.5rem;
        }
    }
}
 
@keyframes gradient {
	100% {
		background-position: 100% 100%;
	}
}